@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Início</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <h1 class="display-4">Welcome</h1>
                    <p> <a href="">Sistema de Gerenciamento de Igreja</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>